<div class="github-message">
    <div onclick="$(this).next().show();$(this).hide()" id="show-git-message" type="button">Add Comment to Describe Action</div>
    <div id="git-message-div" style="display:none">
        <label for="git-message-input">Comment:</label> <input id="git-message-input" type="text" name="git_message" size="64"/>
        <p>Type a short comment describing the action you are taking. This comment will be recorded in the history of this operation, and will be visible to other administrators.</p>
    </div>
</div>
