<div id="ingest-options" class="options-panel bulk-ops-options">

    <div>
        <label for="visibility" data-toggle="tooltip" title="How would you like to set the default visibility of the imported works? If you're unsure, keep the works private for now and publish them later." >Default Visibility:</label>
        <select id="visibility" name="visibility">
            <%= options_for_select @visibility_options, @operation.options["visibility"] || "restricted" %> 
        </select>
    </div>

    <div>
        <label for="work-type" data-toggle="tooltip" title="Which work type would you like to create by default? This can be changed later, and/or overridden in the ingest spreadsheet on a line-by-line basis.">Default Work Type:</label>
        <select name="work_type" id="work-type">
            <%= options_for_select @work_type_options, @operation.options["work_type"] || "Work" %> 
        </select>
    </div>



</div>
