<h2> Running automatic spreadsheet validations...</h2>
<p>We're running some tests on the spreadsheet to anticipate any ingest problems before we start. Check back here in a few minutes to see whether your spreadsheet passes our validation tests. If it passes, it will be up for one final approval before the bulk operation is applied.</p>

<script type="text/javascript">
   setTimeout(function(){
       location.reload();
   },5000);
</script>
