<div id="update-options" class="options-panel collapse">
    <div>
        <label>How do you want to update files?</label>
        <select name="file_method">
            <%= options_for_select @file_update_options, "remove-and-add" %> 
        </select>
    </div>

</div>
