<div id="update-options" class="options-panel bulk-ops-options">
    <div>
        <label for="file-method" data-toggle="tooltip" title="These options determine how the update handles files attached to updated objects. The default option leaves all files alone unless you include a column in your spreadsheet to add or remove specific files.">File Update Method:</label>
        <select name="file_method" id="file-method">
            <%= options_for_select @file_update_options, @operation.options['file_method'] || "remove-and-add" %> 
        </select>
    </div>

</div>
