<div id="github-auth">
    <%= image_tag 'bulk_ops/github_logo.png' %>
    <% if @github_username %>
        <p>You are logged in as <strong><%= @github_username %></strong>.</p>
        <%= form_tag("/bulk_ops/github_logout/#{current_user.id}", method: :post) do %>
            <input type="submit" name="logout" value="Logout" />
        <% end %>
    <% else %>
        <a href="<%= BulkOps::GithubAccess.auth_url(current_user) %>" >
            <button>Log in to Github</button>
        </a>
    <% end %>
</div>
